<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="parts/header">
    </head>

    <body>
        <h1>一般ログイン</h1>
        <hr />
        <form th:action="@{/general/process}" th:object="${request}" th:method="POST">
            <input type="hidden" name="name" th:field="*{name}" value="general" />
            <input type="hidden" name="password" th:field="*{password}" value="general" />
            <input type="submit" value="一般ユーザとしてログイン" />
        </form>
    </body>
</html>